
.txt_tag {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    padding: 2px 5px;
    background-color: lightgray;
    border-radius: 3px;
    font-weight: bold;
}
.delete-tag {
    margin-left: 5px;
    cursor: pointer;
    color: black;
    font-size: 12px;
}
.inp_tag input {
    border: none;
    outline: none;
}
.inp_tag span {
    color: lightgray;
    font-size: 14px;
    font-family: sans-serif;
}

.no-click {
    pointer-events: none;
}
.tf_g {
    font-size: 12px;
}