.modal-content{
    background-color: whitesmoke;
}

.modal .form-control{
    border-color: #18283b;
}

.modal span{
    font-size: small;
}


.modal-title{
    color: black;
    font-family: "Sans Serif";
}